
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
    /* font-family: "Poppins", sans-serif; */
    /* font-family: "Tilt Neon", sans-serif; */
    font-weight: 400;
}

.main-content{
    margin-left: 10%;
    margin-right: 10%;
}

.filter{
    display: flex;
    margin-bottom: 30px;
    margin-left: 50px;
}

.filter-btn{
    margin-left: 30px;
    padding: 12px;
    border: none;
    border-radius: 30%;
    background-color: rgb(255, 255, 129);
    cursor: pointer;
}

.search input[type=text]{
    width: 250px;
    height: 25px;
    border-radius: 5px;
}

.search-btn{
    margin-left: 15px;
    padding: 12px;
    border: none;
    border-radius: 30%;
    background-color: rgb(255, 255, 129);
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo-container .logo{
    width: 125px;
    margin-left: 5px;
}

.nav-items{
    display: flex;
    font-size: 20px;
    margin-right: 15px;
}

.login-btn{
    padding: 5px 15px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    background-color: orange;
}

.nav-items li{
    list-style-type: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}
.nav-items li a{
    text-decoration: none;
    color: black;
}
.res-image img{
    width: 250px;
    height: 169px;
    object-fit: cover;
    border-radius: 10%;
}

.text-content{
    margin-left: 12px;
    margin-top: 5px;
    line-height: 25px;
    width: 100%;
}
.text-wrap{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.res-avability-time{
    display: flex;
}
.res-avability-time span{
    padding-right: 8px;
}

.cuisines{
    width: 90%;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.res-card{
    margin-bottom: 8px;
    width: 250px;
    height: 300px;
    /* background-color: lightsalmon; */
}


.cuisines{
    /* font-family: "Poppins", sans-serif; */
     font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.location{
    /* font-family: "Poppins", sans-serif; */
     font-family: "Roboto", sans-serif;
    font-weight: 300;
}

/* shimmer */

.loading-img{
    animation: loading-img 1s linear infinite alternate;
}
@keyframes loading-img {
    0%{
        background-color: rgb(190, 190, 190);
    }
    100%{
        background-color: rgb(229, 227, 227);
    }
}
.rescard-skeloton{
    margin-bottom: 20px;
}
.res-image-skeloton{
    width: 250px;
    height: 169px;
    margin-bottom: 15px;
    border-radius: 10%;
    /* background-color: lightgray; */
}

.skeleton-container{
    margin: 10% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skeleton-heading{
    width: 100%;
    height: 15px;
}
.logo-del-time-skeleton{
    display: flex;
    align-items: center;
}
.skeleton-logo{
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;
}

.skeleton-del{
    display: inline-block;
    margin-left: 10px;
    width: 45%;
    height: 12px;
}

.skeleton-cuisines{
    width: 75%;
    height: 12px;
    margin-top: 5px;
}
.skeleton-location{
    width: 50%;
    height: 12px;
    margin-top: 8px;
}
